
<div>
	<button type="button" data-ng-click="openProductModal()"
		class="btn-info">Add Product</button>
</div>
<br>
<div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Product Name</th>
				<th>Product Desc</th>
				<th>Category</th>
				<th>Price</th>
				<th>Action</th>
			</tr>
		</thead>
		<tr data-ng-repeat="item in products">
			<td data-ng-show="false">{{item.productID}}</td>
			<td>{{item.productName}}</td>
			<td>{{item.productDesc}}</td>
			<td>{{item.categoryName}}</td>
			<td>{{item.price}}</td>
			<td><button data-ng-click="removeProduct(item.productID)">X</button></td>
		</tr>
	</table>
	<p align="center" data-ng-show="products.length==0">--No Data--</p>
</div>
